﻿@using Frontend.Gantry.Shared.Models
@model Frontend.Gantry.Shared.Models.StaticPromotion

<style type="text/css">
    body {
        margin: 0 !important;
    }

    p {
        padding: 0;
        margin: 0 !important;
        line-height: 22px;    
    }

    .promotion-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: auto 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

        .promotion-layout .promotion-Bg .description p {
            margin: 0 !important;
        }

    .promotion-Bg {
        background-color: #004779;
        display: flex;
        width: 100%;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        color: #fff;
        flex-direction: column;
        position:absolute;
        top:0;
    }

        .promotion-Bg + img {
            height: 89vh;
        }

        .promotion-Bg div p {
            padding: 0;
            margin: 0 !important;
        }

    .no-bg {
        display: none;
    }

        .no-bg + img {
            height: 98vh;
        }
</style>

@{
    string backgroundImageStyle = "";

    if (Model != null && Model?.BackgroundImage != null && Model?.BackgroundImage?.Src != null)
    {
        backgroundImageStyle = "background-image:url(" + @Url.Content(Model.BackgroundImage.Src) + ")"; ;
    }
}

@if (Model != null)
{
    <div class="promotion-layout" style=@backgroundImageStyle>

        <div class="@((Model.Title != null || Model.Description != null) ? "promotion-Bg" : "")">

            <p> @Model.Title</p>

            <p class="description">@Html.Raw(Model.Description)</p>

        </div>

        @if (Model.ForegroundImage != null && Model.ForegroundImage?.Src != null)
        {
            <img src="@Url.Content(Model.ForegroundImage?.Src)" alt="Image" />
        }

    </div>
}
